@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter&display=swap");

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

/* TRACK */
::-webkit-scrollbar-track {
  direction: none;
}

/* HANDLE */
::-webkit-scrollbar-thumb {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.overlay--disable {
  pointer-events: none;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: white;
  transition: opacity 2s ease-in-out;
}

.loader--disappear {
  opacity: 0;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.logo {
  font-family: "DM Serif Display", serif;
  color: white;
  font-size: 7rem;
  letter-spacing: 0.5rem;
  padding: 0;
  margin: 0;
  transform: translateY(-50%);
  position: absolute;
  top: 50vh;
  animation: fadeUp 2.4s ease-in-out;
  transition: all 2s ease-in-out;
}
.logosub {
  font-family: "DM Serif Display", serif;
  color: white;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  padding: 0;
  margin: 0;
  transform: translateY(1.25rem);
  position: absolute;
  top: 55vh;
  animation: fadeUp 2.4s ease-in-out;
  transition: all 2s ease-in-out;
}

.intro--disappear .logo {
  top: 42px;
  transform: scale(0.25);
  transform-origin: center top;
}
.intro--disappear .logosub {
  top: 82px;
  transform: scale(0.4);
  transform-origin: center top;
}

.intro--disappear .spinner {
  opacity: 1;
  animation: fadeOut 1s ease-in-out forwards;
}

.intro__scroll {
  opacity: 0;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  position: absolute;
  top: 24vh;
}

.intro--disappear .intro__scroll {
  animation: fadeIn 1s ease-in-out 1.5s forwards;
}

.overlay--scrolled .intro__scroll {
  animation: fadeOut 1s ease-in-out forwards;
}

.explore {
  padding: 1rem 2rem;
  border: none;
  font-family: "DM Serif Display", serif;
  font-size: 1.25rem;
  letter-spacing: 0.25rem;
  color: #357ca1;
  border-radius: 32px;
  cursor: pointer;
  display: inline-block;
  margin-top: 320px;
  display: inline-block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: 0.42s ease-in-out;
  animation: fadeIn 3s ease-in-out 3s forwards;
  opacity: 0;
}

.explore:hover {
  color: white;
}

.explore:hover:before {
  width: 200%;
  height: 300%;
  border-radius: 100%;
}

.explore:before {
  content: "";
  background: #357ca1;
  position: absolute;
  width: 0%;
  bottom: 0;
  left: 50%;
  height: 0%;
  transition: 0.42s ease-in-out;
  z-index: -1;
  transform: translateX(-50%) translateY(50%);
}

.intro--disappear .explore {
  animation: fadeOut 1s ease-in-out forwards;
}

.outro {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 5s ease-in-out;
}

.outro--appear {
  pointer-events: auto;
  opacity: 1;
}

.outro__text {
  display: flex;
  text-align: center;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  color: white;
  margin-bottom: 30px;
}
.contactme {
  margin-bottom: 6rem;
}
.glass-container {
  font-family: "DM Serif Display", serif;
  text-align: center;
  justify-content: center;
  display: flex;
  color: white;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  width: 100%;
  height: 25rem;
}
form {
  margin-top: 5rem;
  position: absolute;
  text-align: center;
  justify-content: center;
}
.sendmessage {
  padding: 0.5rem;
  border: none;
  font-family: "DM Serif Display", serif;
  font-size: 1.25rem;
  letter-spacing: 0.25rem;
  color: #357ca1;
  border-radius: 32px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  z-index: 1;
}

.sendmessage:hover {
  color: white;
}

.sendmessage:hover:before {
  width: 100.5%;
  height: 100%;
  border-radius: 32px;
}
.sendmessage:before {
  content: "";
  background: #357ca1;
  position: absolute;
  width: 0%;
  bottom: 0;
  left: 50%;
  height: 0%;
  transition: 0.42s ease-in-out;
  z-index: -1;
  transform: translateX(-50%) translateY(0%);
}
input {
  height: 1.5rem;
}
input,
textarea {
  text-align: justify;
  width: 80%;
  margin: 0.4rem 0rem;
  border-radius: 0.5rem;
  background: white;
  opacity: 0.75;
  border: 3px solid #357ca1;
  resize: none;
}
h1 {
  height: fit-content;
}
.contactmelinks {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0.8rem 0;
}
.contactmeimg {
  padding-left: 16px;
  padding-right: 16px;
}
/* RESPONSIVE */

@media screen and (max-width: 768px) {
  .logo {
    font-size: 3rem;
    letter-spacing: 0.25rem;
  }
  .logosub {
    padding-top: -10px;
    font-size: 0.75rem;
    letter-spacing: 0.15rem;
  }

  .intro--disappear .logo {
    display: none;
    top: 40px;
    transform: scale(0.5);
    transform-origin: center top;
  }
  .intro--disappear .logosub {
    display: none;
    transform: scale(0.7);
    transform-origin: center top;
  }

  .outro__text {
    padding-top: 30px;
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 420px) {
  .contactme {
    margin-left: 2.1rem;
    margin-bottom: 6rem;
  }
  .glass-container {
    text-align: center;
    justify-content: center;
    display: flex;
    color: white;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 90%;
    height: 25rem;
  }
}
/* ANIMATIONS */

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
    filter: blur(9px);
  }

  100% {
    opacity: 1;
    filter: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner {
  position: absolute;
  width: 9px;
  height: 9px;
}

.spinner div {
  position: absolute;
  width: 50%;
  height: 100%;
  background: #357ca1;
  transform: rotate(calc(var(--rotation) * 1deg))
    translate(0, calc(var(--translation) * 1%));
  animation: spinner-fzua35 1s calc(var(--delay) * 1s) infinite ease;
}

.spinner div:nth-child(1) {
  --delay: 0.1;
  --rotation: 36;
  --translation: 150;
}

.spinner div:nth-child(2) {
  --delay: 0.2;
  --rotation: 72;
  --translation: 150;
}

.spinner div:nth-child(3) {
  --delay: 0.3;
  --rotation: 108;
  --translation: 150;
}

.spinner div:nth-child(4) {
  --delay: 0.4;
  --rotation: 144;
  --translation: 150;
}

.spinner div:nth-child(5) {
  --delay: 0.5;
  --rotation: 180;
  --translation: 150;
}

.spinner div:nth-child(6) {
  --delay: 0.6;
  --rotation: 216;
  --translation: 150;
}

.spinner div:nth-child(7) {
  --delay: 0.7;
  --rotation: 252;
  --translation: 150;
}

.spinner div:nth-child(8) {
  --delay: 0.8;
  --rotation: 288;
  --translation: 150;
}

.spinner div:nth-child(9) {
  --delay: 0.9;
  --rotation: 324;
  --translation: 150;
}

.spinner div:nth-child(10) {
  --delay: 1;
  --rotation: 360;
  --translation: 150;
}

@keyframes spinner-fzua35 {
  0%,
  10%,
  20%,
  30%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    transform: rotate(calc(var(--rotation) * 1deg))
      translate(0, calc(var(--translation) * 1%));
  }

  50% {
    transform: rotate(calc(var(--rotation) * 1deg))
      translate(0, calc(var(--translation) * 1.5%));
  }
}
